<div id="<%= dom_id(list) %>">
  <div class="card card-1 ">
    <%= link_to list_path(list), class: "card__link" do %>
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <h2 class="card__title"><%= pretty_date(list.date) %></h2>
      <p class="card__apply">
        <span>Boodschappenlijst</span>
      </p>
    <% end %>
    <%= link_to "<i class='bi bi-x-lg'></i>".html_safe, list_path(list), data: { turbo_method: :delete }, class: "btn icon-size" ,remote:true %>
  </div>
</div>