<nav class="navbar navbar-light bg-light">
  <form class="container-fluid">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Date" aria-label="Date" aria-describedby="basic-addon1">
    </div>
  </form>
</nav>
<div class="main-background-color">
  <div class="cards">
    <% @lists.each_with_index do |list, index| %>
      <%= link_to list_path(list), class: "card__link" do %>
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title"><%= pretty_date(list.date) %></h2>
          <p class="card__apply">
            <span>Boodschappenlijst</span>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>