<div class="main-background-color">
  <% @lists.each_with_index do |list, index| %>
    <div class="list-card <%= "selected" if index == 0  %>">
      <%= link_to "Boodschappenlijst #{list.date}", list_path(list) %>
      <p>
    </div>
  <% end %>
</div>