<div class="display-flex" data-controller="lists">
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Date" aria-label="Date" aria-describedby="basic-addon1">
      </div>
    </form>
  </nav>
  <button
    type="button"
    class="btn btn-outline-dark icon-size"
    data-action="click->lists#greet">
      <i class="bi bi-bag-plus"></i>
  </button>
</div>

<div class="">
  <div class="cards">
    <% @lists.each_with_index do |list| %>
      <%= link_to list_path(list), class: "card__link" do %>
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <h2 class="card__title"><%= pretty_date(list.date) %></h2>
          <p class="card__apply">
            <span>Boodschappenlijst</span>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>