<div class="display-flex" data-controller="lists">
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Date" aria-label="Date" aria-describedby="basic-addon1">
      </div>
    </form>
  </nav>
  <button
    type="button"
    class="btn btn-outline-dark icon-size" id="myBtn"
    data-lists-target="addButton"
  >
    <i class="bi bi-bag-plus"></i>
  </button>
</div>

<div id=cards>
  <%= render @lists %>
</div>

<div id="myModal" class="modal">
  <%= render 'lists/forms/new_list_form' %>
</div>